body {background-color:#fff; width:100%; height:100vh; margin:0 auto; display: flex; flex-direction: column;}
.top {width:100%; height:35px; background-color:aqua; display: block;}
.content {display:flex; justify-content:space-between; align-items:stretch; width:100%; height:calc(100vh - 35px); flex-wrap: nowrap;}
.content>.left {width:35px; height:100%; background-color:red;}
.content>.center {height: 100%; width: 100%;}
.content>.right {width:35px; height:100%; background-color:blue;}