.tool_box_button {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border:0px;
}
.tool_box_button:hover {
    background-color: black;
}

.tool_box_button_selected {
    width: 48px;
    height: 48px;
    background-color: #0095FF;
    border:0px;
}

.tool_box_select_button {
    background-image: url("/img/writing/cursor2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.tool_box_line_button {
    background-image: url("/img/writing/line2.png");
    background-repeat: no-repeat;
    background-position: center;
}